fastapi
uvicorn
gunicorn 
#uvloop
httptools
httpx
pickle-mixin
pandas
joblib
#shap==0.39.0
shap
matplotlib
seaborn
scipy
scikit-learn==1.0.2
category_encoders
imblearn
pydantic
plotly==5.9.0
opencv-python-headless==4.5.3.56
streamlit
streamlit_shap
StandardScaler
#xgboost
#RandomForestClassifier





